body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hwb(41 75% 1%);
}

nav {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a:hover::before {
    width: 100%;
}

nav a:before {
    content: '';
    background: #000000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgba(233, 220, 205, 0.918);
    background-position: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to right,
            #000000,
            #000000 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    width: 80%;
    border: 2px solid #333;
    padding: 20px;
    box-sizing: border-box;
    max-width: 80%;
    height: 80vh;
    max-height: 60%;
    overflow: auto;
    position: relative;
}

.profile-image {
    float: right;
    width: 35%;
    max-width: 100%;
    height: auto;
}

.socials-image {
    float: right;
    margin-left: 0%;
    margin-right: 20px;
    max-width: 20px;
    max-height: 20px;
}

.paragrafo-canto-baixo {
    position: absolute;
    bottom: 20px;
    left: 10px;
    margin: 0;
    padding: 10px;
}

.paragrafo-canto-cima {
    position: absolute;
    top: 20px;
    left: 40px;
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 40px;
    font-size: 55px;
}

p {
    font-size: 18px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.nav-item {
    margin: 0 3.5%;
    list-style-type: none;
}

.decoracao-link {
    text-decoration: none;
    color: #333;
}

@media screen and (max-width: 768px) {
    nav {
        
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding: 10px;
    }

    .profile-image {
        width: 100%;
        float: none;
        margin: 0 auto 20px;
    }

    .socials-image {
        float: none;
        margin: 0 auto;
    }

    .paragrafo-canto-baixo {
        position: static;
        margin-top: 20px;
        text-align: center;
    }

    .paragrafo-canto-cima {
        position: static;
        margin-bottom: 20px;
        text-align: center;
    }
}
