<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>HTML - Samuel de Oliveira</title>
    <meta name="Meu Site" content="Site pessoal, feito em HTML5, CSS3, JS e Materialize">
    <meta name="author" content="Samuel de Oliveira">
    <meta name="keywords" content="HTML5, CSS3, JS, Materialize">
    <!--My icon-->
    <link rel="shortcut icon" href="../img/icon-myweb.png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css" media="screen,projection" />

    <link type="text/css" rel="stylesheet" href="../assets/css/style.css" media="screen,projection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo center"><i class="material-icons">code</i>smlmrtns</a>
            </div>
        </nav>
    </div>
    <br>
    <div class="container">
        <blockquote> O que é HTML? </blockquote>
        <p>HTML - Hypertext Markup Language - é uma linguagem de marcação para apresentar conteúdos na web, tudo isso
            por tags.</p>
        <p>Já o HTML5, é a mais recente versão dessa linguagem. Possuí novos elementos e novas formas de utilização,
            comparado a versões anteriores, como o HTML4.</p>
        <br>


        <div class="col s12 m7">
            <h4 class="header">Estrutura básica do HTML</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="../img/img-html/img-estrutura.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p><span class="tags">&lt!DOCTYPE html&gt</span> - Indica para o navegador, que voce está
                            utilizando HTML5</p>
                        <p><span class="tags">&lthtml lang="pt-br"&gt</span> - Abre a tag HTML, no qual dentro estará a
                            estrutura do site. Lang indica a linguagem do texto do site.</p>
                        <p><span class="tags">&lthead&gt</span> - Abre a tag HEAD, dentro ficaram informações sobre a
                            página, os metadados.</p>
                        <p><span class="tags">&ltmeta charset="utf-8"&gt</span> - CHARSET indica o tipo de caracteres
                            utilizados no seu site, para o Brasil, utilizamos utf-8</p>
                        <p><span class="tags">&lttitle&gt Título da Página &lt/title&gt</span> - Sem muito segredo,
                            aqui ficará o título da página</p>
                        <p><span class="tags">&lt/head&gt</span> - Fecha o HEAD, não esquecendo da /</p>
                        <p><span class="tags">&ltbody&gt</span> - Abre a tag BODY, aqui ficará todo o conteúdo do site,
                            ou seja, tudo que ficará visivel para o usuário</p>
                        <p><span class="tags">&lt/body&gt</span> - Fecha o BODY, não esquecendo da /</p>
                        <p><span class="tags">&lt/html&gt</span> - Fecha o HTML, não esquecendo da /</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <blockquote> Iniciando um projeto </blockquote>
        <p>Para iniciar um projeto HTML, será necessário um editor de texto. <br> Os mais usados, são: </p>



        <ul class="collection">
            <li class="collection-item avatar">
                <a href="https://www.sublimetext.com/" target="_blank"><img class="circle" alt="" src="../img/img-html/icon-sublime.png"></a>
                <span class="title"><a href="https://www.sublimetext.com/" target="_blank">Sublime Text</a></span>
                <p>Um dos mais famosos, simples e práticos de usar. <br>
                    É um editor de texto, para html é bem completo.
                </p>
            </li>
            <li class="collection-item avatar">
                <a href="https://atom.io/" target="_blank"><img class="circle" alt="" src="../img/img-html/icon-atom.png"></a>
                <span class="title"><a href="https://atom.io/" target="_blank">Atom</a></span>
                <p>Recente, 2015, mas se mostrou estável <br>
                    É um editor de texto desenvolvido pelo GitHub, permite também o uso de extensões para Node.js
                </p>
            </li>
            <li class="collection-item avatar">
                <a href="https://code.visualstudio.com/" target="_blank"><img class="circle" alt="" src="../img/img-html/icon-vscode.png"></a>
                <span class="title"><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></span>
                <p>Um editor de Texto/IDE <br>
                    Desenvolvido pelo Microsoft, o VSCode é bem completo, possui também versões pagas e mais completas
                </p>
            </li>
            <li class="collection-item avatar">
                <a href="https://notepad-plus-plus.org/" target="_blank"><img class="circle" alt="" src="../img/img-html/icon-notepad++.png"></a>
                <span class="title"><a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a></span>
                <p>Bem simples de usar <br>
                    De todos, notepad++ é o mais básico, mas nem por isso deixam de usá-lo. Quem gosta, usa e aprova.
                </p>
            </li>
        </ul>
        <br>

        <h4>Neste tutorial, utilizarei o Sublime, apenas por questão de preferência.</h4>
        <p>Clique <a href="sublime.html">aqui</a> para saber como baixar o Sublime Text.</p>


        <br>
        <hr>

        <div class="col s12 m7">
            <h4 class="header">Estrutura básica do HTML</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="../img/img-html/img-olamundo.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Agora que você conhece a estrutura do HTML, vamos iniciar o primeiro projeto.</p>
                        <hr>
                        <p>Repare que, comparado a estrutura inicial, foi adicionado a tag &ltp&gt &lt/p&gt, com o
                            texto "Olá, Mundo!" dentro. <br>
                            A tag &lt/p&gt define um novo parágrafo, com isso, colocamos um texto a ser exibido no
                            navegador, dentro da tag.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <h4>Criando um novo arquivo:</h4>
        <p>File > New File</p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimenovoarquivo.jpg">
        <br>
        <h4>Mude o tipo de texto do arquivo:</h4>
        <p>Plain Text > HTML</p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimetexttexto.jpg">
        <br>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimetexthtml.jpg">
        <br>
        <h4>Digite as tags, como no exemplo anterior:</h4>
        <p>Dentro do BODY, insira a tag &ltp&gt &lt/p&gt, com o texto "Olá, Mundo" dentro</p>
        <p>&ltp&gt Olá, Mundo! &lt/p&gt</p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimeprojeto.jpg">
        <br>
        <h4>Salve o projeto com o nome "index"</h4>
        <p>File > Save As...</p>
        <p>Salve o arquivo em alguma pasta ou local que quiser.</p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-olamundosublime.jpg">
        <br>
        <h4>Abra o arquivo com seu navegador</h4>
        <p>Pode ser necessário clicar com o botão direito, depois "Abrir com..." e selecione seu navegador</p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-olamundonavegador.jpg">


        <br>


        <h4>É isso...</h4>
        <p>Bom, agora você pode brincar com seu arquivo, escrevendo textos e exibindo eles. Segue abaixo a documentação
            da W3School, para mais saber mais tags e se aventurar com o HTML5</p>

        <a target="_blank" href="https://www.w3schools.com/html/default.asp">HTML5 W3School</a>
        <br>
        <br>

        <br>


    </div>
    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contato</h5>
                    <p class="grey-text text-lighten-4">E-mail: olvsamuel.edu@gmail.com</p>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Redes Sociais</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://facebook.com/pecesamuel"><img
                                    class="icon" src="../img/icon-fb.png"></a>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/smlmrtns"><img
                                    class="icon" src="../img/icon-git.png"></a>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/olvsamuel/"><img
                                    class="icon" src="../img/icon-linkedin.png"></a>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://instagram.com/pc_samuel/"><img
                                    class="icon" src="../img/icon-insta.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="container center">
                © 2018 Samuel de Oliveira
            </div>
        </div>
    </footer>
    <script src="../assets/js/materialize.min.js"></script>
    <script>
        const gallery = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(gallery, {});
    </script>
</body>

</html>