<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Sublime - Samuel de Oliveira</title>
    <meta name="Meu Site" content="Site pessoal, feito em HTML5, CSS3, JS e Materialize">
    <meta name="author" content="Samuel de Oliveira">
    <meta name="keywords" content="HTML5, CSS3, JS, Materialize">
    <!--My icon-->
    <link rel="shortcut icon" href="../img/icon-myweb.png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css" media="screen,projection" />

    <link type="text/css" rel="stylesheet" href="../assets/css/style.css" media="screen,projection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo center"><i class="material-icons">code</i>smlmrtns</a>
            </div>
        </nav>
    </div>
    <br>
    <div class="container">
        <blockquote> Baixando o Sublime Text </blockquote>
        <p>Utilizarei neste tutorial, o Sublime, mas fica a preferência de cada um, pois você pode usar qualquer editor
            de texto, incluindo o bloco de notas, do Windows.</p>
        <br>

        <h4 class="header">Accesse o site do <a target="_blank" href="https://www.sublimetext.com/">Sublime</a></h4>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimesite.jpg">
        <br>
        <h4> Faça Download compatível com a sua versão de Sistema. </h4>
        <p>No meu caso, utilizo o Windows 64 Bit. </p>
        <p>Você pode optar pela versão portable, no windows, como eu fiz. É bem prático e de fácil uso.</p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimesitedownload.jpg">
        <br>
        <h4> Extraia o arquivo .zip em alguma pasta </h4>
        <p>Caso você baixe o arquivo .exe, instale normalmente com o famoso "next, next and finish". </p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimeextrair.jpg">
        <br>
        <h4> Execute o arquivo "sublime_text". </h4>
        <p>Sem segredos, dois cliques já basta, haha </p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimeexecutar.jpg">
        <br>
        <h4> Seja bem-vindo ao Sublime Text Portable </h4>
        <p> Depois de baixado, você poderá utilizá-lo para diversas linguagens, como: html, css, javascript, C, Java, C# </p>
        <p>Lembrando que o Sublime é apenas um editor de texto, portanto, não é uma IDE para compilar o código.</p>
        <img class="materialboxed responsive-img" src="../img/img-html/img-sublimeaberto.jpg">


        <br>


        <h4>É isso...</h4>
        <p>Agora você pode continuar o tutorial básico de HTML5, seguindo o passo a passo.</p>

        <a href="html5.html" class="waves-effect waves-light btn btn-voltar">Voltar</a>
        <br>
        <br>

        <br>


    </div>
    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contato</h5>
                    <p class="grey-text text-lighten-4">E-mail: olvsamuel.edu@gmail.com</p>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Redes Sociais</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://facebook.com/pecesamuel"><img
                                    class="icon" src="../img/icon-fb.png"></a>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/smlmrtns"><img
                                    class="icon" src="../img/icon-git.png"></a>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/olvsamuel/"><img
                                    class="icon" src="../img/icon-linkedin.png"></a>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://instagram.com/pc_samuel/"><img
                                    class="icon" src="../img/icon-insta.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="container center">
                © 2018 Samuel de Oliveira
            </div>
        </div>
    </footer>
    <script src="../assets/js/materialize.min.js"></script>
    <script>
        const gallery = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(gallery, {});
    </script>
</body>

</html>